<app-menuadmin></app-menuadmin>

<br><br>
<!--Section: Contact v.2-->
<div class="container">
<section class="mb-4">
  


  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a routerLink="partnereditprofile" class="nav-item nav-link" id="nav-home-tab" data-toggle="tab"  role="tab" aria-controls="nav-home" aria-selected="true">Profile</a>
      <a routerLink="partnereditpassword
      " class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab"  role="tab" aria-controls="nav-profile" aria-selected="false">Password</a>
    </div>
  </nav>
  
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">...</div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
  </div>



  
  <!--Section heading-->
  <!--Section description-->
  

  <div class="row">

      <!--Grid column-->
      <div class="col-md-9 mb-md-0 mb-5">

              

<form class="text-center border border-light p-5" id="login-form" class="form"(ngSubmit)="onSubmit(f)" #f="ngForm" >

  <p class="h4 mb-4">Password user</p>
  
  
     
     <h4 *ngIf="erreur" style="color:#FF0000;"> 
       Check the current password!</h4>
     <label>your old password:</label>
     <input  [(ngModel)]="passwordtest" name="pwd" type="password" id="deffaultLoginFormLogin" class="form-control mb-4" >

     <label>your new password:</label>
     <input [(ngModel)]="passwordnew"  name="pawd" type="password" id="defaultLoginFormLogin" class="form-control mb-4" >
 
    



  <!-- Sign in button -->
  <button class="btn btn-info btn-block my-4" type="submit" >update password</button>

  <!-- Register -->
  

  <!-- Social login -->
 

</form>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-3 text-center">
 

  </div>

</div>
<!-- Card -->
      
      <!--Grid column-->

  

</section>
<!--Section: Contact v.2-->
</div>