.btn-primary
{
    width: 30%;
    height:20%;
}
.img-fluid
{
    width: 90%;
}
h4{
    margin-left: 10%;
    margin-right: 10%;
}
.btn-pink {
    background-color: #e57373!important;
    color: rgb(155, 141, 141);
}