.info-color {
    background-color: #C6093B !important;
}
a {
    cursor: pointer;
    text-decoration: none;
    color: #C6093B;
    transition: all 0.2s ease-in-out;
}
.btn-outline-info {
    color: #C6093B;
    border-color: #C6093B;
}