
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<div class="container bootstrap snippet">

    
  <div class="row">
 
    <div class="col-lg-6 col-sm-4">
      <div class="circle-tile ">
        <a routerLink="partnereditprofile"><div class="circle-tile-heading dark-blue"><i class="fa fa-pencil fa-fw fa-3x"></i></div></a>
        <div class="circle-tile-content dark-blue">
          <div class="circle-tile-description text-faded"> <br><h2>Edit Profile</h2></div>
              <br><br><br>
        </div>
      </div>
    </div>
   
     
    <div class="col-lg-6 col-sm-4">
        <div class="circle-tile ">
          <a routerLink="#"><div class="circle-tile-heading blue"><i class="fa fa-folder fa-fw fa-3x"></i></div></a>
          <div class="circle-tile-content blue">
            <div class="circle-tile-description text-faded blue"><br> <h3>Documents</h3> </div>
            <br><br><br>

          </div>
        </div>
      </div> 
</div>
<br>


     
 
</div>  
<br><br><br>