
<div class="container">
    <div class="row">
        
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-12">
            <div class="box">
                <div class="box-icon">
                    <span class="fa fa-4x fa"> <img src="https://www.montpellier-supagro.fr/sites/supagro/files/styles/max_270x270/public/media/2016/11/25/image-profile-default-270x270%402x.jpg?itok=My47s6ZF" alt="image"></span>
                </div>
                <div class="info">
                    <h2 class="text-center">Espace Partner</h2>
                    <h4 style="text-align: center;">Welcome  <strong>{{user}}</strong></h4>
                   
                </div>
            </div>
        </div>
      
	</div>
</div>